@tailwind base;
@tailwind components;
@tailwind utilities;

.neat-underline {
    box-shadow: inset 0 -0.325em 0 0 #8B5CF6;
}

.background-svg {
    background-image: url("../../public/images/Rangitikei.svg");
    background-size: auto;
    background-position: center;
}

.is-invalid {
    @apply border-red-600 border-2;
}

.onboarding {
    min-width: 800px;
}
